/* 整个项目都能使用的样式 */
html,body{
    height: 100%;
}
body{
    background-color: #edf2f6;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lv-head{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid gray;
    .logo{
        font-size: 25px;
        text-decoration: none;
    }
    .right{
        display: flex;
        justify-content: flex-end;
        p{
            margin: 0 10px;
            line-height: 30px;
        }
    }
}

.lv-menu{
    width: 250px;
    height: 100%;
    overflow-y: auto;
    border: 1px solid gray;
    li{
        height: 100px;
        line-height: 100px;
        border-bottom: 1px solid black;
        background: #e4e9ed;
        a{
        display: block;
        text-align: center;
        text-decoration: none;
        color: #040301;
        &:hover{
            color: white;
        }
        }
        img{
            width: 30px;
            height: 30px;
            margin: -10px 5px;
        }
    }
}

.lv-main{
    flex: 1;
    display: flex;
    background: #edf2f6;
    .body{
        flex: 1;
        padding: 0 20px;
        border-right: 1px solid gray;
        .form-inline{
            display: flex;
            justify-content: flex-end;
        .form-control{
            margin: 0 10px;
        }
        }
        
    }
}

.lv-foot{
    height: 50px;
    border-top: 1px solid gray;
}

.search-bar{
    margin: 10px 0;
}

.detalist{
    width: 849px;
    height: 40px;
    line-height: 40px;;
    background: rgb(138, 144, 228);
    a{
     margin-left: 20px;
     color: white;
     text-decoration: none;   
    }
}

//对bootstrap的样式覆盖
// 对表格hover颜色的更改
.table-hover>tbody>tr:hover{
    background:gold;
}


//对分页的位置更改
.pagination{
    float: right;
}