<ul class="lv-menu">
    <li class="lv-menu-users"><a href="/users" class="users"><img src="images/users.png" alt="">用户管理</a></li>
    <li class="lv-menu-brand"><a href="/brand" class="brand"><img src="images/brand.png" alt="">品牌管理</a></li>
    <li class="lv-menu-phone"><a href="/phone" class="phone"><img src="images/phone.png" alt="">手机管理</a></li>
</ul>